@media screen and (max-width: 1440px){
    .container{
        max-width: 1200px;
    }
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .left h1{
        font-size: 42px;
    }
}
@media screen and (max-width: 992px){
    .container{
        max-width: 960px;
    }
    .left h1{
        font-size: 38px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 730px;
        flex-direction: column;
    }
    .container .left {
        text-align: center;
        padding-right: 0;
        width: 100%;
    }
    .left h1{
        font-size: 32px;
    }
    .left p{
        margin-bottom: 20px;
    }
    .container .right {
        width: 100%;
    }
}
@media screen and (max-width: 576px){
    .container{
        max-width: 540px;
    }
    .form-container {
        padding: 10px 20px;
    }
}